body {
    font-family: "GE Flow", 'Gotham', sans-serif;
}

input {
    font-family: "Gotham", sans-serif;
}

.form-check {
    text-align: right;
    font-size: larger;
    color: #db4041;
    font-weight: bolder;
}

.error-message {
}
